/*
* Globals
*/
body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    /*background-color: #E3E7E8;*/
    background-color: #e9eff3;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333;
}


/*
* Override Bootstrap's default container.
*/
@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}


/*
* Masthead for nav
*/

.blog-masthead {
    background-color: #000000;
    -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
    box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
    color: #fff;
    text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
    color: #fff;
}
.blog-nav .active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
}


/*
* Blog name and description
*/

.blog-header {
    padding-top: 20px;
    padding-bottom: 20px;
}
.blog-title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: normal;
}
.blog-description {
    font-size: 20px;
    color: #999;
}


/*
* Main column and sidebar layout
*/

.blog-main {
    font-size: 18px;
    line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
    padding: 15px;
    margin: 0 -15px 15px;
}
.sidebar-module-inset {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
    margin-bottom: 0;
}


/* Pagination */
.pager {
    margin-bottom: 60px;
    text-align: left;
}
.pager > li > a {
    width: 140px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 30px;
}


/*
* Blog posts
*/

.blog-post {
    margin-bottom: 60px;
}
.blog-post-title {
    margin-bottom: 5px;
    font-size: 40px;
}
.blog-post-meta {
    margin-bottom: 20px;
    color: #999;
}


/*
* Footer
*/

.blog-footer {
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
    margin-bottom: 0;
}
/*body {
background: #fff;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 15px;
line-height: 1.7;
margin: 0;
padding: 30px;
}

a {
color: #4183c4;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

code {
background-color: #f8f8f8;
border: 1px solid #ddd;
border-radius: 3px;
font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
font-size: 12px;
margin: 0 2px;
padding: 0px 5px;
}

h1, h2, h3, h4 {
font-weight: bold;
margin: 0 0 15px;
padding: 0;
}

h1 {
border-bottom: 1px solid #ddd;
font-size: 2.5em;
font-weight: bold;
margin: 0 0 15px;
padding: 0;
}

h2 {
border-bottom: 1px solid #eee;
font-size: 2em;
}

h3 {
font-size: 1.5em;
}

h4 {
font-size: 1.2em;
}

p, ul {
margin: 15px 0;
}

ul {
padding-left: 30px;
}
*/

.modal{
    display: flex !important;
    height: 100%;
}
.modal .modal-dialog{
    margin: auto;
}

label{
    text-align: right;
}
/***
HERO
***/

#hero-area {
    background: url('../images/hero_bg.jpg') no-repeat 50%;
    background-size: cover;
    background-attachment: fixed;
    padding: 200px 0 350px 0;
    color: #fff;
    position: relative;
    height: 100%;
}
#hero-area:before {
    content: '';
    z-index: 9;
    background: rgba(255, 255, 255, 0.78);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#hero-area .block {
    position: relative;
    z-index: 999;
}
#hero-area h1 {
    font-size: 40px;
    line-height: 50px;
    color: #333;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
}
#hero-area h2 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 38px;
    line-height: 27px;
    color: #222;
    font-family: 'Roboto', sans-serif;
    margin-top: 25px;
}
#hero-area .btn {
    background: #414141;
    border: none;
    color: #fff;
    padding: 20px 35px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    font-size: 13px;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: normal;
    border-radius: 0;
}

#hero-area-login {
    background: url('../images/hero_bg.jpg') no-repeat 50%;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    padding-bottom: 300px;
}
#hero-area-login:before {
    content: '';
    z-index: 9;
    background: rgba(255, 255, 255, 0.78);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#hero-area-login .container {
    position: relative;
    z-index: 999;
}

#dynamicHero{
    height: 100%;
    position: fixed;
    width: 100%;
}

/**
Override Navbar behavior
**/
.navbar{
    margin-bottom: 0px !important;
}
/**
Override Navbar behavior
**/
button, input, select, textarea, input, .btn{
    border-radius: 0px !important;
}

/*LOGIN CONFIGURATION PAGE*/
.form-login {
	max-width: 330px;
	margin: 100px auto 0;
	background: #fff;
	border-radius: 0px;
}

.form-login h2.form-login-heading {
	margin: 0;
	padding: 25px 20px;
	text-align: center;
	background: #68dff0;
	border-radius: 0;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 300;
}
.login-wrap {
	padding: 20px;
}
.login-wrap .registration {
	text-align: center;
}

.paracamplus{
    margin: 5px 20px;
    background-image: url('../images/Logo-Paracamplus_blanc.png');
    background-size: 100%;
	background-position: center;
    width: 40px;
    height: 40px;
}
@media (min-width: 768px){
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: 20px;
    }
}

/**
 * Aside
 */
 /*sidebar menu*/

 #sidebar {
     width: 210px;
     height: 100%;
     position: fixed;
     background: #2F75AD;
 }

 #sidebar h5 {
 	color: #f2f2f2;
 	font-weight: 700;
 }

 #sidebar ul li {
     position: relative;
 }

 #sidebar .sub-menu > .sub li  {
     padding-left: 32px;
 }

 #sidebar .sub-menu > .sub li:last-child {
     padding-bottom: 10px;
 }
 ul.sidebar-menu , ul.sidebar-menu li ul.sub{
    margin: -2px 0 0;
    padding: 0;
}

ul.sidebar-menu {
    margin-top: 15px;
}

#sidebar > ul > li > ul.sub {
    display: none;
}

#sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {
    display: block;
}

ul.sidebar-menu li ul.sub li{
    background: #424a5d;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

ul.sidebar-menu li ul.sub li:last-child{
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

ul.sidebar-menu li ul.sub li a {
    font-size: 12px;
    padding: 6px 0;
    line-height: 35px;
    height: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #aeb2b7;
}

ul.sidebar-menu li ul.sub li a:hover {
	color: white;
	background: transparent;
}

ul.sidebar-menu li ul.sub li.active a {
    color: #68dff0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
}

ul.sidebar-menu li{
    /*line-height: 20px !important;*/
    margin-bottom: 5px;
    margin-left:10px;
    margin-right:10px;
}

ul.sidebar-menu li.sub-menu{
    line-height: 15px;
}

ul.sidebar-menu li a span{
    display: inline-block;
}

ul.sidebar-menu li a{
    color: #aeb2b7;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 12px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    background: #68dff0;
    color: #fff;
    display: block;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


ul.sidebar-menu li a i {
    font-size: 15px;
    padding-right: 6px;
}

ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {
    color: #fff;
}

ul.sidebar-menu li a.active i {
    color: #fff;
}
/*Helpers*/

.centered {
	text-align: center;
}
.date-color{
    padding : 15px;
    color: #2F75AD;
}

.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}

.blanc{
    background-color: white;
    padding: 30px;
}

#valider, #annuler{
    background-color: #414141!important;
    border: none;
    color: #fff;
    padding: 20px 35px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 13px;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: normal;
}

label.control-label{
    font-size: 14px!important;
    margin-bottom: 5px!important;
    font-weight: 600!important;
    color: #404040!important;
}

.img-circle{
    width: 150px;
}

.user-name{
    font-size: 24px;
    font-family: Merriweather, Georgia, "Times New Roman", Times, serif;
    font-weight: 700;
    line-height: 32px;
    margin: 8px 0 0;
    text-align: center;
    word-break: break-word;
    word-wrap: break-word;
    margin-bottom: 30px;
    text-align: center;
}

/*#btnModify{
    display: block;
    margin: auto auto 24px auto;
    max-width: 100%;
    clear: both;
    float: none;
    padding: 8px 24px
}*/

#btnModify.btn{
    background: white;
    border-color: #c8d7e1;
    border-style: solid;
    border-width: 1px 1px 2px;
    color: #2e4453;
    cursor: pointer;
    outline: 0;
    overflow: hidden;
    font-weight: 600;
    text-overflow: ellipsis;
    text-decoration: none;
    vertical-align: top;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 21px;
    border-radius: 4px!important;
    padding: 7px 14px 9px;
    -webkit-appearance: none;
    appearance: none;
    width: 138px;
    margin: auto auto 24px auto;
}

#btnModify:hover{
    border-color: #a8bece;
    color: #2e4453;
}

#btnModify.btn:focus{
    /*border-color: #41F7DF;*/
    border-color: #00aadc;
    box-shadow: 0 0 0 2px #78dcfa;
}
.fa-custom{
    position: absolute;
    margin-top: -32px;
    margin-left: -30px;
}

a.dcjq-custom:hover{
    background-color: white!important;
    /*color: #68dff0!important;*/
    color: #0087be!important;
}
a.dcjq-custom:hover>i{
    color: #0087be!important;
}
.sidebar-heading {
    color: #87a6bc;
    font-size: 11px;
    display: inline-block;
    margin-bottom: 8px;
    padding: 0 8px 0 0;
    position: relative;
    text-transform: uppercase;
    vertical-align: top;
    margin: 0 0 0 11px;
}

.sidebar-heading:after {
    border-top: 1px solid #c8d7e1;
    content: '';
    display: block;
    position: absolute;
    left: 100%;
    top: 5px;
    width: 135px!important;
}

.background-table-history{
    background-color: white;
}
.text-history-page{
    font-size: 18px;
}
